<a href="https://colab.research.google.com/github/dahlia52/Commercial-District-Analysis/blob/main/code/%EC%A7%80%ED%91%9C_%EB%B3%84_%EC%A0%90%EC%88%98%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#matplotlib 한글 깨짐 방지
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 24 not upgraded.
Need to get 9,599 kB of archives.
After this operation, 29.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/universe amd64 fonts-nanum all 20180306-3 [9,599 kB]
Fetched 9,599 kB in 2s (5,534 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 122349 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20180306-3_all.deb ...
Unpacking fonts-nanum (20180306-3) ...
Setting up fonts-nanum (20180306-3) ...
Processing triggers for fontconfig (2.13.1-2ubuntu3) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

### 상권변화 지표

- 2022년 4분기 데이터 사용
- LL(다이나믹):1, HL(상권축소):2, LH(상권확장):3 , HH(정체):4 으로 레이블 인코딩

In [ ]:
# 상권변화지표 (운영영업기간, 폐업영업기간)
commerce_2022 = pd.read_csv('/content/drive/MyDrive/광진구팟/Data/상권분석/2022상권변화지표.csv')

In [ ]:
commerce_2022

                   상권_코드_명 상권_구분_코드_명   행정동명 상권_변화_지표
0                    세종대학교       골목상권    군자동       HH
1                중곡1동 마을마당       골목상권  중곡제1동       HL
2                    광진경찰서       골목상권  구의제1동       HH
3                   신자초등학교       골목상권  자양제3동       LH
4                  자양한강도서관       골목상권  자양제2동       LL
..                     ...        ...    ...      ...
57            신성시장(신성골목시장)       전통시장  중곡제4동       HH
58  중곡제일시장(중곡제일골목시장, 광성시장)       전통시장  중곡제1동       LL
59                화양제일골목시장       전통시장    화양동       LL
60                 영동교골목시장       전통시장  자양제4동       HL
61        자양골목전통시장(자양골목시장)       전통시장  자양제1동       HL

[62 rows x 4 columns]

In [ ]:
commerce_2022['상권_변화_지표'] = commerce_2022['상권_변화_지표'].map({'LL':1, 'HL':2, 'LH':3, 'HH':4})
commerce_2022['행정동명'] = commerce_2022['행정동명'].map(lambda x: x.replace("제",""))

In [ ]:
commerce_2022.head()

     상권_코드_명 상권_구분_코드_명  행정동명  상권_변화_지표
0      세종대학교       골목상권   군자동         4
1  중곡1동 마을마당       골목상권  중곡1동         2
2      광진경찰서       골목상권  구의1동         4
3     신자초등학교       골목상권  자양3동         3
4    자양한강도서관       골목상권  자양2동         1

### 임대료 불안정성

In [ ]:
rent = pd.read_csv('/content/drive/MyDrive/광진구팟/Data/임대료/임대료_불안정성.csv')
rent.rename(columns = {'행정구역':'행정동명'}, inplace = True)

In [ ]:
rent

    행정동명         전체         1층         1층외
0    화양동  36.851052  36.290495   41.267421
1    군자동  48.518038  13.964240  132.325357
2   중곡1동  45.475268  69.339743   37.749172
3   중곡2동  41.545156  32.295511   63.285069
4   중곡3동  27.386128  32.588341   68.541958
5   중곡4동  45.585085  21.142375  115.969824
6     능동  38.262253  25.787594   72.145686
7    광장동  40.779897  47.571000   44.586994
8   자양1동  18.654758  20.024984   41.593269
9   자양2동  49.527770  34.741906   70.028566
10  자양3동  32.832910  31.591138   41.665333
11  자양4동  48.000000  23.043437  107.205410
12  구의1동  33.734256  29.732137   53.404120
13  구의2동  30.951575  25.099801   53.507009
14  구의3동  18.138357  21.886069   35.425979

### 전체 매출

In [ ]:
sales_광진 = pd.read_csv('/content/drive/MyDrive/광진구팟/Data/상권분석/sales_광진.csv')
sales_광진

,시군구명,행정동명,상권_구분_코드_명,상권_코드_명,경도,위도,엑스좌표_값,와이좌표_값,행정동코드,상권_코드,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,광진구,군자동,골목상권,세종대학교,127.074085,37.555226,206732,450331,11215730,2110149,...,0,906,321,0,139,336,262,242,248,*
1,광진구,군자동,골목상권,세종대학교,127.074085,37.555226,206732,450331,11215730,2110149,...,7,84,154,0,56,56,77,49,0,*
2,광진구,군자동,골목상권,세종대학교,127.074085,37.555226,206732,450331,11215730,2110149,...,27,938,1391,21,554,551,508,435,260,4
3,광진구,군자동,골목상권,세종대학교,127.074085,37.555226,206732,450331,11215730,2110149,...,52,1663,1716,61,1260,942,509,494,115,*
4,광진구,군자동,골목상권,세종대학교,127.074085,37.555226,206732,450331,11215730,2110149,...,177,1620,1012,10,213,716,800,488,406,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5415,광진구,자양제1동,전통시장,자양골목전통시장(자양골목시장),127.077348,37.536790,207022,448285,11215820,2130081,...,47,8593,8156,126,2182,3408,3757,4654,2620,8
5416,광진구,자양제1동,전통시장,자양골목전통시장(자양골목시장),127.077348,37.536790,207022,448285,11215820,2130081,...,137,331,96,0,48,44,85,155,96,3
5417,광진구,자양제1동,전통시장,자양골목전통시장(자양골목시장),127.077348,37.536790,207022,448285,11215820,2130081,...,0,2301,4066,50,314,815,1469,1995,1724,*
5418,광진구,자양제1동,전통시장,자양골목전통시장(자양골목시장),127.077348,37.536790,207022,448285,11215820,2130081,...,74,144,83,0,20,54,49,74,28,*
5419,광진구,자양제1동,전통시장,자양골목전통시장(자양골목시장),127.077348,37.536790,207022,448285,11215820,2130081,...,1548,24548,22270,161,4043,7621,10087,13675,11230,32

In [ ]:
sales_광진.columns

Index(['시군구명', '행정동명', '상권_구분_코드_명', '상권_코드_명', '경도', '위도', '엑스좌표_값', '와이좌표_값',
       '행정동코드', '상권_코드', '상권_구분_코드_x', '법정동명', '기준_분기_코드', '상권_구분_코드_y',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [ ]:
# 상권별 매출액 합산 (2022년)
매출액 = sales_광진.groupby('상권_코드_명')[['상권_코드_명','분기당_매출_금액']].sum().rename(columns = {'분기당_매출_금액':'전체 매출'}).reset_index()
매출액

       상권_코드_명         전체 매출
0   강변역(테크노마트)  3.321523e+11
1     건대입구역 1번  1.166689e+10
2     건대입구역 6번  6.656748e+10
3    건대입구역(건대)  3.524325e+11
4      광나루역 1번  1.770376e+10
..         ...           ...
56      푸른동산공원  6.979311e+09
57       한아름시장  6.788171e+09
58       해오름공원  1.138369e+10
59       화양사거리  2.838047e+10
60    화양제일골목시장  4.137117e+10

[61 rows x 2 columns]

### 업종의 다양성

In [ ]:
업종_다양성 = sales_광진[['상권_코드_명','서비스_업종_코드_명']].drop_duplicates().groupby('상권_코드_명')['서비스_업종_코드_명'].count().reset_index().rename(columns = {'서비스_업종_코드_명':'업종_종류수'})
업종_다양성

       상권_코드_명  업종_종류수
0   강변역(테크노마트)      39
1     건대입구역 1번      17
2     건대입구역 6번      37
3    건대입구역(건대)      40
4      광나루역 1번      14
..         ...     ...
56      푸른동산공원      17
57       한아름시장      10
58       해오름공원      28
59       화양사거리      24
60    화양제일골목시장      25

[61 rows x 2 columns]

### 접근성 : 보행자우선도로

In [ ]:
walk =  pd.read_csv('/content/drive/MyDrive/광진구팟/Data/접근성/보행자우선도로 final.csv')
walk.head()

      상권_코드_명  도보 5분 이내 보행자우선도로 개수
0  강변역(테크노마트)                    0
1    건대입구역 1번                    2
2    건대입구역 6번                    1
3   건대입구역(건대)                    2
4     광나루역 1번                    0

### 버스 노선 수, 버스 정류장까지의 거리

In [ ]:
bus =  pd.read_csv('/content/drive/MyDrive/광진구팟/Data/접근성/버스 접근성 final.csv')
bus.drop(['가까운_버스정류장_명'], axis=1, inplace = True)

In [ ]:
# 매출 데이터가 없는 자양종합시장(기능상실) 상권 제거
bus.drop([55], inplace = True)

In [ ]:
bus

                   상권_코드_명          거리  650m_반경내_버스_노선수
0                    세종대학교  109.519617               25
1                중곡1동 마을마당  312.530655               19
2                    광진경찰서  284.399056               21
3                   신자초등학교   59.352520               22
4                  자양한강도서관   42.224991               15
..                     ...         ...              ...
57            신성시장(신성골목시장)   92.904652               18
58  중곡제일시장(중곡제일골목시장, 광성시장)   92.267857               19
59                화양제일골목시장   48.934853               26
60                 영동교골목시장  176.873837               20
61        자양골목전통시장(자양골목시장)   38.971244               19

[61 rows x 3 columns]

### 지하철

In [ ]:
subway =  pd.read_csv('/content/drive/MyDrive/광진구팟/Data/접근성/지하철 final.csv')
subway.drop(['가까운_지하철역_명'], axis=1, inplace = True)
subway.rename(columns={'거리':'가까운 지하철역까지 거리', '650m_반경내_역':'650m_반경내_역수'}, inplace = True)

In [ ]:
subway.head()

     상권_코드_명  가까운 지하철역까지 거리  650m_반경내_역수
0      세종대학교     521.802696            2
1  중곡1동 마을마당     879.686454            0
2      광진경찰서     595.336285            4
3     신자초등학교     462.395439            4
4    자양한강도서관     783.585249            0

### 지표 별 점수화

In [ ]:
commerce_2022

                   상권_코드_명 상권_구분_코드_명  행정동명  상권_변화_지표
0                    세종대학교       골목상권   군자동         4
1                중곡1동 마을마당       골목상권  중곡1동         2
2                    광진경찰서       골목상권  구의1동         4
3                   신자초등학교       골목상권  자양3동         3
4                  자양한강도서관       골목상권  자양2동         1
..                     ...        ...   ...       ...
57            신성시장(신성골목시장)       전통시장  중곡4동         4
58  중곡제일시장(중곡제일골목시장, 광성시장)       전통시장  중곡1동         1
59                화양제일골목시장       전통시장   화양동         1
60                 영동교골목시장       전통시장  자양4동         2
61        자양골목전통시장(자양골목시장)       전통시장  자양1동         2

[62 rows x 4 columns]

In [ ]:
score = commerce_2022
score = pd.merge(score, rent[['행정동명','전체']], on = '행정동명')

In [ ]:
score.rename(columns = {'전체':'임대료_불안정성'}, inplace = True)
score['임대료_불안정성'] = 100/score['임대료_불안정성'] # 불안정성이 클수록 안좋으므로 역수를 취함.

In [ ]:
# 매출 데이터가 없는 자양종합시장(기능상실) 상권 제거
score.drop([20], inplace = True)

In [ ]:
score = pd.merge(score, 매출액, on = '상권_코드_명')

In [ ]:
score = pd.merge(score, 업종_다양성, on = '상권_코드_명')

In [ ]:
score = pd.merge(score, walk, on = '상권_코드_명')

In [ ]:
score = pd.merge(score, bus, on = '상권_코드_명')

In [ ]:
score.rename(columns = {'거리':'가까운 버스정류장까지 거리'}, inplace = True)

In [ ]:
score['가까운 버스정류장까지 거리'] = 100/score['가까운 버스정류장까지 거리'] # 버스정류장까지의 거리가 클수록 안좋으므로 역수를 취함.

In [ ]:
score = pd.merge(score, subway, on = '상권_코드_명')

In [ ]:
score['가까운 지하철역까지 거리'] = 100/score['가까운 지하철역까지 거리'] # 버스정류장까지의 거리가 클수록 안좋으므로 역수를 취함.

In [ ]:
score.head()

,상권_코드_명,상권_구분_코드_명,행정동명,상권_변화_지표,임대료_불안정성,전체 매출,업종_종류수,도보 5분 이내 보행자우선도로 개수,가까운 버스정류장까지 거리,650m_반경내_버스_노선수,가까운 지하철역까지 거리,650m_반경내_역수
0,세종대학교,골목상권,군자동,4,2.061089,4.287648e+09,7,3,0.913078,25,0.191643,2
1,장안초등학교,골목상권,군자동,1,2.061089,2.312527e+09,5,5,1.441063,23,0.178571,4
2,능동우편취급국,골목상권,군자동,1,2.061089,1.829857e+10,29,4,0.496948,19,0.137336,0
3,군자역,발달상권,군자동,1,2.061089,2.467650e+11,44,2,1.220644,26,0.252921,2
4,중곡1동 마을마당,골목상권,중곡1동,2,2.198997,1.150311e+10,14,0,0.319969,19,0.113677,0

In [ ]:
score.to_csv('/content/drive/MyDrive/광진구팟/Data/상권분석/score.csv', index = False)